<% content_for :title do %> Demo Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="number_event" data-view="Number" data-title="Number"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="test_event" data-view="Text" data-title="Text"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="meter_event" data-view="Meter" data-title="Meter"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="list_event" data-view="List" data-title="List" data-unordered="true"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="graph_event" data-view="Graph" data-title="Graph"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="comments_event" data-view="Comments" data-title="Comments"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="clock_event" data-view="Clock" data-title="Clock"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="image_event" data-view="Image" data-title="Image"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="iframe_event" data-view="Iframe" data-title="Iframe"></div> 
    </li>


  </ul>
</div>
